<footer>
    <div class="footer-content">
        <p>References:</p>
        <div class="footer-links">
            <a href="https://scikit-learn.org" target="_blank">scikit-learn</a>
            <a href="https://www.ibm.com/cloud/learn/machine-learning-algorithms" target="_blank">IBM</a>
            <a href="https://www.weforum.org" target="_blank">World Economic Forum</a>
            <a href="https://arxiv.org/abs/1706.03762" target="_blank">Attention is All You Need</a>
        </div>
        <p class="copyright">
            Internet Programming. &copy; 2025 Siddiq
        </p>
    </div>
</footer>